dataclass-ы хранят какие либо значения

In [2]:
# мы создали dataclass User которое будет содержать name, age, flags, comment
from typing import Any
from dataclasses import dataclass

@dataclass
class User:
    name: str
    age: int
    flags: list
    comment: Any

In [4]:
# Далее мы можем создать экземпляры

a = User(
    name='Madi',
    age=20,
    flags=[1,2,3,4],
    comment=True
)

In [5]:
# dataclass-ы нужны чисто для хранения обределенных данных
a

User(name='Madi', age=20, flags=[1, 2, 3, 4], comment=True)

In [6]:
# просто так для проверки 
d = {'one': 1, 'two': 2}
d.keys()

dict_keys(['one', 'two'])

In [7]:
a.name

'Madi'

In [8]:
a.age

20

In [9]:
a.flags

[1, 2, 3, 4]

In [11]:
a.comment

True

In [12]:
# если мы хотим создать экземпляр не указывая аргументы, то выйдет ошибка. Нужно указать все аргументы
b = User()

TypeError: User.__init__() missing 4 required positional arguments: 'name', 'age', 'flags', and 'comment'

In [14]:
######################################################
# без dataclass-a

from typing import Any
# from dataclasses import dataclass

# @dataclass
class User2:
    name: str
    age: int
    flags: list
    comment: Any

In [17]:
b = User2(
    name='Madi',
    age=20,
    flags=[1,2,3,4],
    comment=True
)

TypeError: User2() takes no arguments

//////////////////////////////////////////////////////

In [18]:
from typing import Any
from dataclasses import dataclass

@dataclass
class User3:
    name: str
    age: int
    flags: list
    comment: Any

class Test(User3):
    pass

In [19]:
a = Test()

TypeError: User3.__init__() missing 4 required positional arguments: 'name', 'age', 'flags', and 'comment'

In [20]:
a = Test(name='Adik', age=24, flags=[1,2,3], comment=False)

In [21]:
a.comment

False

In [24]:
a.__dict__

{'name': 'Adik', 'age': 24, 'flags': [1, 2, 3], 'comment': False}